@using Crito.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "LayoutWithBreadcrumb.cshtml";

    var contactForm = new ContactForm();
}

<section class="contactform-section">
    <div class="container">
        <h2>Leave us a message for any information.</h2>

        @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post))
        {

            <div asp-validation-summary="All"></div>
            
            <input asp-for="@contactForm.Name" type="text" placeholder="Name*">
            <input asp-for="@contactForm.Email" type="email" placeholder="Email*">
            <textarea asp-for="@contactForm.Message" placeholder="Your Message*"></textarea>
            
            <div class="d-grid">
                <button type="submit" class="btn-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        }
    </div>
</section>