@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <footer>
        <section class="footer-section">
            <img class="background-lines-white-right" src="~/images/background-effects/background-lines-white-right.svg" alt="">
            <div class="container">
                <div class="logo">
                    <img src="~/images/logos/logotype-white.svg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </div>
                <div>
                    <h5>Company</h5>
                    <ul>
                        <li><a class="a-footer" href="#">About</a></li>
                        <li><a class="a-footer" href="#">Features</a></li>
                        <li><a class="a-footer" href="#">Works</a></li>
                        <li><a class="a-footer" href="#">Career</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Help</h5>
                    <ul>
                        <li><a class="a-footer" href="#">Customer Support</a></li>
                        <li><a class="a-footer" href="#">Delivery Details</a></li>
                        <li><a class="a-footer" href="#">Terms & Conditions</a></li>
                        <li><a class="a-footer" href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Rescources</h5>
                    <ul>
                        <li><a class="a-footer" href="#">Free eBooks</a></li>
                        <li><a class="a-footer" href="#">Development Tutorial</a></li>
                        <li><a class="a-footer" href="#">How to - Blog</a></li>
                        <li><a class="a-footer" href="#">Youtube Playlist</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Links</h5>
                    <ul>
                        <li><a class="a-footer" href="#">Free eBooks</a></li>
                        <li><a class="a-footer" href="#">Development Tutorial</a></li>
                        <li><a class="a-footer" href="#">How to - Blog</a></li>
                        <li><a class="a-footer" href="#">Youtube Playlist</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="copyright-section">
            <div class="container">
                <div>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</div>
                <div class="social-media">
                    <a class="a-footer" href=""><i class="fa-brands fa-facebook"></i></a>
                    <a class="a-footer" href=""><i class="fa-brands fa-twitter"></i></a>
                    <a class="a-footer" href=""><i class="fa-brands fa-instagram"></i></a>
                    <a class="a-footer" href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </section>
    </footer>