@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="googlemaps-section">
    <iframe class="google-maps" src="@Model.Value("googleMapsURL")" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>