@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="newsletter-section">
    <img class="background-wavy-lines-right" src="images/background-wavy-lines.svg" alt="">
    <div class="container">
        <h2>Get News Updates By Signup</h2>
        <form method="post" action="subscribe.php">
            <input type="email" placeholder="username@domain.com">
            <button class="btn-theme">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
        </form>
    </div>
</section>