@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="showcase-section">
    <div class="container">
        <div class="content-column">
            <h1>We Provide The Best Consulting Services</h1>
            <p>Establish your vision and value proposition and turn them into testable prototypes.</p>
            <div class="button-links">
                <a class="btn-them" href="consulting.html">Get Consulting <i class="fa-solid fa-arrow-up-right"></i></a>
                <a class="btn-them" href="service.html">Learn More <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="image-column">
            <img src="images/showcase-image.svg" alt="">
        </div>
    </div>
</section>