@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="testimonial-section">
        <div class="container">
            <div class="section-border">
                <div class="section-title">Testimonial</div>
                <h2>What Our Client Says</h2>
                <div class="testimonials">
                    <div class="testimonial">
                        <div class="rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <p>
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt ne"
                        </p>
                        <div class="writer">
                            <img src="images/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="">
                            <h5>Cassandra Warren</h5>
                            <p>Business Manager, Dorfus</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <p>
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt ne"
                        </p>
                        <div class="writer">
                            <img src="images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="">
                            <h5>Amanda Tulling</h5>
                            <p>Senior Developer, Square</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <p>
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt ne"
                        </p>
                        <div class="writer">
                            <img src="images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                            <h5>Jack McDogglas</h5>
                            <p>Key Account Manager, Gobona</p>
                        </div>
                    </div>
                </div>
                <a class="btn-dark" href="review.ntml">All Reviews <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>