@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}


<section class="article-section">
    <div class="container">
        <div class="browse-news">
            <h2>Our News & Articles</h2>
        </div>
        <div class="articles">
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">09</div>
                    <div class="month">Aug</div>
                </div>
                <img src="" alt="">
                <p class="category">Business</p>
                <h5>How To Use Digitalization In The classroom</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
                        <a href="#" class="article">
                <div class="article-date">
                    <div class="day">09</div>
                    <div class="month">Aug</div>
                </div>
                <img src="" alt="">
                <p class="category">Business</p>
                <h5>How To Use Digitalization In The classroom</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
                        <a href="#" class="article">
                <div class="article-date">
                    <div class="day">09</div>
                    <div class="month">Aug</div>
                </div>
                <img src="" alt="">
                <p class="category">Business</p>
                <h5>How To Use Digitalization In The classroom</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
                        <a href="#" class="article">
                <div class="article-date">
                    <div class="day">09</div>
                    <div class="month">Aug</div>
                </div>
                <img src="" alt="">
                <p class="category">Business</p>
                <h5>How To Use Digitalization In The classroom</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
        </div>
        
        <nav class="item-pagination" aria-label="Page navigation">
            <a href="#" class="item-link active">1</a>
            <a href="#" class="item-link">2</a>
            <a href="#" class="item-link link-next" aria-label="Next">
                <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-right"></i></span>
            </a>
        </nav>
    </div>
</section>